<h1 class="mt-3">Gr&aacute;fica Din&aacute;mica</h1>

<hr>

<div class="row">
    <div class="col-md-6">

        <div class="flex">
            <div class="flex-item">

                <div style="display: block;">
                <canvas baseChart width="400" height="400"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [chartType]="'line'"
                >
                </canvas>
                </div>
            
            </div>
        </div>

    </div>
</div>

